@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&display=swap");

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.flex_center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-bg {
  background-image: url("/assets/bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
  width: 100vw;
  /*  dark overlay  */
  z-index: -1;
}
/* after overlay */
.main-bg::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.7);
}

.products_grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1rem;
  padding: 1rem;
}
